<!--<app-top-bar></app-top-bar>
<app-genre></app-genre>
<app-movie></app-movie>
<app-seat></app-seat>
<app-show></app-show>-->


<!--<nav>
  <a routerLink="/adminMovie" routerLinkActive="active">Admin movies</a>
  <a routerLink="/movies" routerLinkActive="active">Movies</a>
  <a routerLink="/genres" routerLinkActive="active">Genres</a>
  <a routerLink="/user/registration" routerLinkActive="active">Sign Up</a>
</nav>-->

<app-top-bar></app-top-bar>

<router-outlet></router-outlet>
<!--Routed views starter her-->
