<h1>Admin Movies</h1>
<div class="flex-grid">
  <div class="col">
    <h2>Add Movie</h2>
<form (ngSubmit)="postMovie()">
  <label>Title: </label><input type="text" name="title" [(ngModel)]="title" placeholder="add title"> <!-- [(ngModel)]="title" not definded fordi title er ikke defineret i movie.component.ts -->
  <br><label class="label2">Runtime: </label> <input type="number" name="runtime" [(ngModel)]="runtime" placeholder="add runtime">
  <br><label class="label2">Description: </label> <input type="text" name="description" [(ngModel)]="description" placeholder="add description">
  <br><label class="label2">Releasedate: </label> <input type="date" name="releasedate" [(ngModel)]="releasedate" placeholder="add releasedate">




<!--Genre select box-->
  <br><select [(ngModel)]="temp" name="temp" multiple> <!-- husk name eller siger den felj på browers console  -->
    <option *ngFor="let genreObject of genres" [value]="genreObject.genreId">{{genreObject.genre}}</option>
  </select>

<!--submit button-->
  <br><input type="submit" value="Add Movie">

</form>
</div>
<div class="col">
  <h2>Update & Search</h2>
  <!-- [(ngModel)]="title" not definded fordi title er ikke defineret i movie.component.ts -->
  <label for="">Title:</label>       <input type="text"    [(ngModel)]="movie.title">
  <label for="">Runtime:</label>     <input type="number"  [(ngModel)]="movie.runtime">
  <label for="">Description:</label> <input type="text"    [(ngModel)]="movie.description">
  <label for="">Releasedate:</label> <input type="date"    [(ngModel)]="movie.releasedate">

  <button (click)="updateMovie()">Update</button>
  <button (click)="searchMovie()">Search</button>
</div>
</div>


<div>
  <table class="admin-movies">
    <tr>
      <th>MovieId</th>
      <th>Title</th>
      <th>Delete Button</th>
    </tr>
    <tr *ngFor="let movieObj of movies">
      <td>{{movieObj.movieId}}</td>
      <td>{{movieObj.title}}</td>
      <td><button (click)="deleteMovie(movieObj.movieId)">Delete</button></td>
    </tr>

  </table>
  </div>



<!--displaying shows and delete button
<div *ngFor="let movieObj of movies">

  MovieId {{movieObj.movieId}} | Title {{movieObj.title}}
  <button (click)="deleteMovie(movieObj.movieId)">Delete</button>
  <button (click)="allShowToMovie(movieObj)">see all shows</button>
</div>-->
